<header class="topbar">
  <nav class="navbar top-navbar navbar-expand-md navbar-light">
    <div class="navbar-header">
      <a class="navbar-brand" href="javascript:void()">
        <!-- Logo icon --><b>
          <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
          <!-- Dark Logo icon -->
          <img
            src="assets/assets/images/voice.png"
            alt="homepage"
            class="dark-logo"
          />
        </b>
        <!--End Logo icon -->
        <!-- Logo text --><span>
          <!-- dark Logo text -->
          <!-- <img
            src="assets/assets/images/logo_1.png"
            alt="homepage"
            class="dark-logo"/>
          <img
            src="assets/assets/images/logo-light-text.png"
            class="light-logo"
            alt="homepage"
        /> -->
        </span>
      </a>
    </div>
    <!-- ============================================================== -->
    <!-- End Logo -->
    <!-- ============================================================== -->
    <div class="navbar-collapse">
      <!-- ============================================================== -->
      <!-- toggle and nav items -->
      <!-- ============================================================== -->
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item">
          <a
            class="nav-link nav-toggler hidden-md-up waves-effect waves-dark"
            href="javascript:void(0)"
            ><i class="ti-menu"></i
          ></a>
        </li> -->
        <!-- <li class="nav-item">
          <a
            class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark"
            href="javascript:void(0)"
            ><i class="ti-menu"></i
          ></a>
        </li> -->
        <li class="nav-item hidden-sm-down"></li>
      </ul>
      <ul class="navbar-nav my-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle waves-effect waves-dark"
            href=""
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            ><img src="assets/assets/images/children.png" alt="user"
          /></a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<section class="login-content">
  <div class="login-box">
    <form
      #formControl="ngForm"
      [formGroup]="loginForm"
      class="login-form"
      (ngSubmit)="auth()"
    >
      <h3 class="login-head">
        Login
      </h3>
      <div *ngIf="message != ''" class="alert alert-danger">{{ message }}</div>
      <div class="form-group">
        <label class="control-label">Usuario</label>
        <input
          required
          (change)="clearMessage()"
          class="form-control"
          formControlName="username"
          type="text"
          placeholder="Ingrese usuario"
          autofocus
        />
      </div>
      <div class="form-group">
        <label class="control-label">Contraseña</label>
        <input
          required
          class="form-control"
          formControlName="password"
          type="password"
          placeholder="Ingrese clave"
        />
      </div>

      <div class="form-group btn-container">
        <button
          [disabled]="!formControl.valid"
          type="submit"
          class="btn btn-primary btn-block"
        >
          <i class="fa fa-sign-in fa-lg fa-fw"></i>Ingresar
        </button>
      </div>
    </form>
  </div>
</section>
